<div class="form-groups">
    <label for="curso">Curso</label>
    <input required value="<%= alumno.curso%>" type="text" name="curso" id="curso" class="form-control">
</div>
<div class="form-groups">
    <label for="nombre">Nombre</label>
    <input required value="<%= alumno.nombre%>"  type="text" name="nombre" id="nombre" class="form-control">
</div>
<div class="form-groups">
    <label for="apellido">Apellido</label>
    <input required value="<%= alumno.apellido%>"  type="text" name="apellido" id="apellido" class="form-control">
</div>
<div class="form-groups">
    <label for="dni">Dni</label>
    <input required value="<%= alumno.dni%>"  type="number" name="dni" id="dni" class="form-control">
</div>
<a href="/" class="btn btn-danger mt-3">Cancelar</a>
<button type="submit" class="btn btn-primary mt-3">Registrar</button>